// thin
@font-face {
  font-family: 'Circe';
  src: url('../../shared/assets/fonts/circe/circe-thin.ttf');
  font-weight: 100;
}

// extra light
@font-face {
  font-family: 'Circe';
  src: url('../../shared/assets/fonts/circe/circe-extralight.ttf');
  font-weight: 200;
}

// light
@font-face {
  font-family: 'Circe';
  src: url('../../shared/assets/fonts/circe/circe-light.ttf');
  font-weight: 300;
}

// normal
@font-face {
  font-family: 'Circe';
  src: url('../../shared/assets/fonts/circe/circe.ttf');
  font-weight: 400;
}

// bold
@font-face {
  font-family: 'Circe';
  src: url('../../shared/assets/fonts/circe/circe-bold.ttf');
  font-weight: 700;
}

// extra bold
@font-face {
  font-family: 'Circe';
  src: url('../../shared/assets/fonts/circe/circe-extrabold.ttf');
  font-weight: 800;
}
