.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.field-error {
  color: var(--tui-text-negative);
  font-size: 0.75rem;
}
